<form method="post">
    <div class="row mb-3">
        <!-- inputtype= hidden use kr ny ka maqsad ye k data hemary paas "id" ki base pr aa rha ha agr hum is 
        ko hata dain ga tw hamray paas database sa data nhi aye ga  -->
        <input type="hidden" name="id" value="<%= certificate._id%>">
        <div class="col-md-6">
            <div class="form-floating">
                <input class="form-control" id="inputCertName" name="CertName" type="text"
                    value="<%= certificate.CertName%>" placeholder="Enter your Certification Name" />
                <label for="inputCertName">Certification Name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input class="form-control" id="inputIssuer" name="Issuer" type="text" value="<%= certificate.Issuer%>"
                    placeholder="Certification Source" />
                <label for="inputIssuer">Certification Source</label>
            </div>
        </div>
        <br><br><br>
        <div class="col-md-6">
            <div class="form-floating">
                <input class="form-control" id="inputLastName" name="DateofIssue" type="text"
                    value="<%= certificate.DateofIssue%>" placeholder="Date of Issue" />
                <label for="inputDateofIssue">Date of Issue</label>
            </div>
        </div>
    </div>
    <div class="mt-4 mb-0">
        <div class="d-grid">
            <button class="btn btn-primary btn-block" type="submit">
                Update Certification
            </button>
        </div>
    </div>
</form>